<template>
  <div
    class="contact mt-5 mb-5 pb-5 pt-5 animate__animated animate__bounceIn container"
  >
    <div class="contact-box">
      <div class="row">
        <h1 class="font-weight-bold">CONTACT</h1>
      </div>

      <form class="form-horizontal ml-5">
        <div class="form-group row mt-4 mb-4">
          <label
            for="inputEmail"
            class="col-sm-1 col-form-label col-form-label-lg"
            >Email:</label
          >
          <div class="col">
            <input
              type="email"
              class="form-control form-control-lg"
              id="inputEmail"
            />
          </div>
        </div>
        <div class="form-group row mt-4 mb-4">
          <label
            for="inputSubject"
            class="col-sm-1 col-form-label col-form-label-lg ml-4"
            >Subject:</label
          >
          <div class="col">
            <input
              type="text"
              class="form-control form-control-lg"
              id="inputSubject"
            />
          </div>
        </div>
        <div class="form-group row mt-4 mb-4">
          <label
            for="inputMessage"
            class="col-sm-1 col-form-label col-form-label-lg ml-4"
            >Message:</label
          >
          <div class="col">
            <textarea
              class="form-control form-control-lg"
              id="inputMessage"
              rows="10"
            />
          </div>
        </div>
        <div class="form-group row">
          <div class="col text-right">
            <button type="submit" class="btn btn-primary pl-4 pr-4">
              Send
            </button>
          </div>
        </div>
      </form>
    </div>
  </div>
</template>

<script>
export default {
  name: "ContactPage",
};
</script>

<style scoped>
.contact {
  margin-left: 10%;
  margin-right: 10%;
}

.contact-box {
  padding: 2rem;
  margin-bottom: 2rem;
  border: 1px solid #e3927f;
}

input,
textarea {
  background-color: transparent !important;
  border-color: #e3927f !important;
  color: #e3927f;
}

input:focus,
textarea:focus {
  color: #e3927f;
}

button {
  font-size: 1.5rem;
}

button:hover {
  background-color: transparent;
  border-color: #e3927f;
  color: #e3927f;
}
</style>