<template>
  <div class="mt-5 mb-5 pb-5 pt-5 experience">
    <div class="row animate__animated animate__fadeInLeft">
      <div class="col">
        <div class="experience-box">
          <h1 class="font-weight-bold">Highlights</h1>
          <h3 class="font-weight-light ml-4 experience-desc">
            Experience working with a team of developers using Scrum and Agile
            methodologies Solid communication and written skills through high
            performing sales and documentation Confident in using various web
            frameworks and APIs, such as React and Bing Maps
          </h3>
        </div>
      </div>
    </div>

    <div class="row animate__animated animate__fadeInRight">
      <div class="col">
        <div class="experience-box">
          <h1 class="font-weight-bold">EDUCATION</h1>
          <!-- Open div container for new entry -->
          <div class="container">
            <!-- Open div row for entry info -->
            <div class="row">
              <!-- Open div col for entry name -->
              <div class="col">
                <h1 class="font-weight-bold">Mohawk College</h1>
              </div>
              <!-- Close div col for entry name -->
              <!-- Open div col for entry date -->
              <div class="col">
                <h2 class="text-right">Sep 2018 - Present</h2>
              </div>
              <!-- Close div col for entry date -->
            </div>
            <!-- Close div row for entry info -->
            <!-- Open div row for entry description -->
            <div class="row">
              <ul class="list-group ml-4">
                <li>
                  <h3 class="experience-desc">
                    Designed and deployed a Wordpress site for a client
                  </h3>
                </li>
                <li>
                  <h3 class="experience-desc">
                    Excelled in both the Web Development and OOP In Java courses
                  </h3>
                </li>
              </ul>
            </div>
            <!-- Close div row for entry description -->
          </div>
          <!-- Close div container for new entry -->
          <!-- Open div container for new entry -->
          <div class="container">
            <!-- Open div row for entry info -->
            <div class="row">
              <!-- Open div col for entry name -->
              <div class="col">
                <h1 class="font-weight-bold">Westmount Secondary</h1>
              </div>
              <!-- Close div col for entry name -->
              <!-- Open div col for entry date -->
              <div class="col">
                <h2 class="text-right">Sep 2014 - Jun 2018</h2>
              </div>
              <!-- Close div col for entry date -->
            </div>
            <!-- Close div row for entry info -->
            <!-- Open div row for entry description -->
            <div class="row">
              <ul class="list-group ml-4">
                <li>
                  <h3 class="experience-desc">
                    Honours Student and received the Co-op Award of Excellence
                  </h3>
                </li>
                <li>
                  <h3 class="experience-desc">
                    Implemented Git and Biology Simulations for the Grade 12
                    CompSci and Biology Courses
                  </h3>
                </li>
              </ul>
            </div>
            <!-- Close div row for entry description -->
          </div>
          <!-- Close div container for new entry -->
        </div>
      </div>
    </div>

    <div class="row animate__animated animate__fadeInLeft">
      <div class="col">
        <div class="experience-box">
          <h1 class="font-weight-bold">TECHNICAL SKILLS</h1>
          <div class="row">
            <ul class="list-group ml-4">
              <li>
                <h3 class="experience-desc">
                  HTML, CSS, Javascript, React.js, Express.js, Node.js, Jquery,
                  Bootstrap, .NET C#, Java,
                </h3>
              </li>
              <li>
                <h3 class="experience-desc">
                  Microsoft Server SQL, MySQL, ASP.NET.MVC, Git, Team Foundation
                  Server
                </h3>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: "ExperiencePage",
};
</script>

<style scoped>
.experience {
  margin-left: 10%;
  margin-right: 10%;
}

.experience-box {
  padding: 2rem;
  margin-bottom: 2rem;
  border: 1px solid #e3927f;
}

h3 {
  font-size: 1.7rem;
}

ul {
  list-style-type: none;
}
</style>
