<template>
    <div>
        <div class="text-center">
         <img class="myFace animate__animated animate__jackInTheBox" src="/PattyFace.png" alt="" srcset="">
        </div>

        <h3 class="mt-2 about-me text-center animate__animated animate__fadeInUp">
          "Hello, I'm Patrick Malara, a student studying Software Development at Mohawk College. I specialize in front-end development. Currently, in my last year of college, I have designed and deployed several web projects. Below are links to my projects and their code."
        </h3>

    </div> 
</template>

<script>
export default {
    name: "HomePage"
}
</script>

<style>

</style>