<template>
    <div class="mt-5 mb-5 pb-5 pt-5 projects">
       <div class="row mb-5 animate__animated animate__fadeInLeft">
           <div class="col-md-6 d-flex align-items-center ">
               <img src="http://patrickmalara.com/wp-content/themes/patrickmalarawordpress%20site/imgs/UditPanchalDesktop.png" alt="" srcset="">
           </div>
           <div class="col-md-6">
               <div class="about-project">
               <h2 class="mt-2"><mark>Photography Wordpress Site</mark></h2>
               <h3 class="font-weight-light" >This is a Wordpress site for the Hamilton, Ontario based photographer Udit Panchal. The work on the project only spanned a few days. It's helped his career by giving him a proffesional digital appreance. </h3>
               <button type="button" class="btn btn-primary"><h4>Visit Site</h4></button>
               </div>
           </div>
       </div>

       <div class="row mb-5 animate__animated animate__fadeInRight ">
           <div class="col-md-6 ">
               <div class="about-project" >
               <h2 class="mt-2"><mark>Date Idea Generator</mark></h2>
               <h3>Based off the preferences of the users they can find a perfect date in Hamilton, Ontario. Made using HTML, CSS, Javascript, PHP, Jquery, Bootstrap and the Bing Maps API. </h3>
               <button type="button" class="btn btn-primary"><h4>Visit Site</h4></button> <button type="button" class="btn btn-primary"><h4>View Code</h4></button>
               </div>
           </div>
           <div class="col-md-6 d-flex align-items-center  ">
               <img src="http://patrickmalara.com/wp-content/themes/patrickmalarawordpress%20site/imgs/DateGeneratorDesktop.png" alt="" srcset="">
           </div>
       </div>

       <div class="row mb-5 animate__animated animate__fadeInLeft">
           <div class="col-md-6 d-flex align-items-center  ">
               <img src="http://patrickmalara.com/wp-content/themes/patrickmalarawordpress%20site/imgs/IonixProject.png" alt="" srcset="">
           </div>
           <div class="col-md-6">
               <div class="about-project">
               <h2 class="mt-2"><mark>Photography Wordpress Site</mark></h2>
               <h3>This is a Wordpress site for the Hamilton, Ontario based photographer Udit Panchal. The work on the project only spanned a few days. It's helped his career by giving him a proffesional digital appreance. </h3>
               <button type="button" class="btn btn-primary"><h4>View All Games</h4></button>
               </div>
           </div>
       </div>
    </div> 
</template>

<script>
export default {
    name: "ProjectsPage"
}
</script>

<style>
mark {
    background: linear-gradient(0deg, rgba(227,146,127,0) 13%, rgba(227,146,127,1) 14%, rgba(227,146,127,1) 93%, rgba(227,146,127,0) 94%);
    color: #223C5F;
}

.btn-primary {
    background-color: #e3927f;
    color: #223C5F;
}

.projects {
    margin-left: 10%;
    margin-right: 10%;

}

.projects h2 {
    font-weight: bolder;
}

.projects h4 {
    margin-bottom: 2px;
    font-weight: bolder;
}
.projects img {
    width: 100%;
    filter: opacity(0.9);
}

.about-project {
    padding: 2rem;
    border: 1px solid #e3927f;
}
</style>