<template>
  <div>
    <Nuxt />
  </div>
</template>

<style>
html, 
body {
    height: 100%;
    color: #E3927F;
    background-color: #223C5F;
    background-image: url("/grain/Grain-Texture-08.png");
    background-size: contain;
    background-repeat: repeat;
    margin: 0px;
    padding: 0px;
    font-family: 'PT Serif';
}
</style>
