<template>
  <div>
    <header class="fixed-top">
      <div class="h1-home">
        <h1
          @click="navItemClicked(1)"
          class="font-weight-bold text-center animate__animated animate__zoomInDown"
        >
          PATRICK MALARA
        </h1>
      </div>
    </header>

    <HomePage v-if="contentId == 1" />
    <ProjectsPage v-else-if="contentId == 2" />
    <ExperiencePage v-else-if="contentId == 3" />
    <ContactPage v-else-if="contentId == 4" />

    <footer
      class="row fixed-bottom text-center animate__animated animate__fadeInUp"
    >
      <div @click="navItemClicked(2)" class="col-sm-4">
        <h3>Projects</h3>
      </div>
      <div @click="navItemClicked(3)" class="col-sm-4">
        <h3>Experience</h3>
      </div>
      <div @click="navItemClicked(4)" class="col-sm-4">
        <h3>Contact</h3>
      </div>
    </footer>
  </div>
</template>

<script>
import HomePage from "@/components/HomePage";
import ProjectsPage from "@/components/ProjectsPage";

export default {
  components: {
    HomePage,
    ProjectsPage,
  },
  data() {
    return {
      contentId: 1,
    };
  },
  methods: {
    navItemClicked(id) {
      this.contentId = id;
    },
  },
};
</script>

<style>
header {
  background: #223c5f;
}

.myFace {
  margin-top: 5.5rem;
  width: 15%;
}

.about-me {
  margin-left: 20%;
  margin-right: 20%;
}

.about {
  font-size: 2.5vh;
  height: 100%;
}

footer {
  background-color: #e3927f;
  color: #223c5f;
  font-weight: bolder;
}

footer h3 {
  font-weight: bolder;
}
footer h3:hover {
  cursor: pointer;
  text-decoration: underline;
  font-weight: bolder;
}

.row {
  margin: 0px;
}

.h1-home {
  width: 100%;
  height: 100%;
  cursor: pointer;
  transition: transform 0.9s;
}

.h1-home:hover {
  -ms-transform: scale(1.5); /* IE 9 */
  -webkit-transform: scale(1.5); /* Safari 3-8 */
  transform: scale(1.2);
}
</style>
